.bluefield {
    width:100%;
    height:50vh;
    background-color: #C6DBF1;
}
.whitefield {
    width:100%;
    height:70vh;
    background-color:white;
}

.mainContent{
    font-family: "Trebuchet MS", sans-serif;
    font-size: 2em;
    letter-spacing: -1px;
    position: absolute;
    text-align: center;
justify-content: center;
    top: 20%;
    height: 100vh;
}

.people {
    width:60%;
    margin-bottom: 10vh;
}

.header{
    font-size: 2.3em;
    font-weight: bold;
}